In [ ]:
# =============================================================================
# ============================ 1. Python의 구문 ===============================
# =============================================================================

In [ ]:
# 문자 출력
print('Welcome to Python.')
print('It is fun learning Python.')
print('Welcome to Python'); print('It is fun learning Python.')

Welcome to Python.
It is fun learning Python.
Welcome to Python
It is fun learning Python.

In [ ]:
# 줄 바꾸기
sum = 10 + 20 + \
      30 + 40 + \
      30
sum

130

In [ ]:
# 블록(Block), 들여쓰기(Indentation)
if 10>3:
    print('This is inside block')
print('This is outside of block')

This is inside block
This is outside of block

In [ ]:
# =============================================================================
# ============================ 2. 변수와 자료 형태 =============================
# =============================================================================

In [ ]:
# 변수의 입력
name = 'Mike'  # string
age = 15       # integer
score = 102.5  # float
passed = True  # boolean

type(age)

int

In [ ]:
## List ##
cars = ['Honda', 'Toyota', 2002, 2015]  # cars는 리스트 객체를 참조(주소를 저장). 이름을 하나 더 짓는 개념
print(len(cars))  # list의 길이

4

In [ ]:
colors = ['red', 'green', 'white', 'yellow']
nums = list(range(10))  # list 자료로 만들기
print(nums)
nums_1 = list(range(50,101))
print(nums_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
# 편집(일부 원소 접근)
colors_1 = colors[:2]    # colors[0] - colors[2-1]
print(colors_1)
colors_2 = colors[-2:]   # colors[(4-2)+1] - colors[4]
print(colors_2)
colors_3 = colors[1:-2]  # colors[1] - colors[(4-2)-1]
print(colors_3)
colors_4 = colors[1:3]   # colors[1] - colors[3-1]
print(colors_4)
colors_5 = colors[2]   # colors[2]
print(colors_5)

['red', 'green']
['white', 'yellow']
['green']
['green', 'white']
white

In [ ]:
# 행렬: list 안의 list로 표현
data = [[1, 15, 20, 36], [41, 20, 54, 47], [75, 46,68, 2]]; print(data)
data_1 = data[1]; print(data_1)
data_2 = data[1][2]; print(data_2)

[[1, 15, 20, 36], [41, 20, 54, 47], [75, 46, 68, 2]]
[41, 20, 54, 47]
54

In [ ]:
colors = ['blue', 'white', 'yellow', 'red', 'black']
colors.append('orange')  # 추가하기
print(colors)
colors.remove('white')   # 제거
print(colors)
colors.sort()            # 정렬
print(colors)

['blue', 'white', 'yellow', 'red', 'black', 'orange']
['blue', 'yellow', 'red', 'black', 'orange']
['black', 'blue', 'orange', 'red', 'yellow']

In [ ]:
## Tuiple ##
abc_1 = ['a', 'b', 'c', 'd']  # list
abc_1[2] = 'p' 
print(abc_1);

['a', 'b', 'p', 'd']

In [ ]:
abc_2 = ('a', 'b', 'c', 'd')  # tuple
abc_2[2] = 'p'                # Error 발생

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(abc_2)

('a', 'b', 'c', 'd')

In [ ]:
# 짝짓기
name = 'A', 'B', 'C'
type(name)
K_1, K_2, K_3 = name
print(K_1); print(K_2); print(K_3)

A
B
C

In [ ]:
# 스왑
a, b = 11, 22; print(a, b)
a, b = b, a
print(a, b)

11 22
22 11

In [ ]:
## Dictionary ##
cars = {'name':'kia', 'model':2019, 'color':'white'}
print(cars['name'])
print(cars.keys())
print(cars.values())
print(cars.items())

kia
dict_keys(['name', 'model', 'color'])
dict_values(['kia', 2019, 'white'])
dict_items([('name', 'kia'), ('model', 2019), ('color', 'white')])

In [ ]:
cars['capacity'] = 1500  # 추가
print(cars)
cars['model'] = 2020     # 업데이트
print(cars)
del cars['model']        # 제거
print(cars)

{'name': 'kia', 'model': 2019, 'color': 'white', 'capacity': 1500}
{'name': 'kia', 'model': 2020, 'color': 'white', 'capacity': 1500}
{'name': 'kia', 'color': 'white', 'capacity': 1500}

In [ ]:
# =============================================================================
# ============================== 3. Python의 연산 =============================
# =============================================================================

In [ ]:
# 산술 연산
N1 = 10
N2 = 5
print(N1+N2)
print(N1-N2)
print(N1*N2)
print(N1/N2)
print(N1//N2)
print(N1%N2)
print(N1**N2)

15
5
50
2.0
2
0
100000

In [ ]:
# 논리 연산
N1 = True
N2 = False
print(N1 and N2)
print(N1 or N2)
print(not(N1 and N2))

False
True
True

In [ ]:
# 비교 연산
N1 = 10
N2 = 5
print(N1==N2)
print(N1!=N2)
print(N1>N2)
print(N1>=N2)
print(N1<N2)
print(N1<=N2)

False
True
True
True
False
False

In [ ]:
# 할당 연산
N1 = 10; N2 = 5
R = N1 + N2; print(R)
N1 = 10; N2 = 5
N1 += N2; print(N1)
N1 = 10; N2 = 5
N1 -= N2; print(N1)
N1 = 10; N2 = 5
N1 /= N2; print(N1)
N1 = 10; N2 = 5
N1 %= N2; print(N1)
N1 = 10; N2 = 5
N1 *= N2; print(N1)
N1 = 10; N2 = 5
N1 **= N2; print(N1)

15
15
5
2.0
0
50
100000

In [ ]:
# 존재 연산(membership)
cars = ['Hyundai', 'kia', 'Audi', 'Benz', 'Honda']
print('Hyundai' in cars)
print('BMW' in cars)
print('BMW' not in cars)

True
False
True

In [ ]:
# =============================================================================
# ============================ 4. 조건문과 반복문 ==============================
# =============================================================================

In [ ]:
## 조건문 ##
N1 = 10
N2 = 5
if N1>N2:
    print('N1 is greater than N2')

N1 is greater than N2

In [ ]:
# 조건에 논리연산자 사용
N1 = 10
N2 = 20
N3 = 30
if N2<N1 or N3>N2:
    print('N2<N1 or N3>N2')

N2<N1 or N3>N2

In [ ]:
# 중첩된 if문
if N2>N1:
    if N2>N3:
        print('N2>N1 and N3>N2')

In [ ]:
# if/else
if N1>N2:
    print('N1>N2')
else:
    print('N2>N1')

N2>N1

In [ ]:
# if/elif/else
N1 = 10
N2 = 20
N3 = 30

if N1>N2:
    print('N1>N2')
elif N2>N3:
    print('N2>N3')
elif N3>N2:
    print('N3>N2')
else:
    print('None of the conditions are true.')

N3>N2

In [ ]:
## 반복문 ##
# for 문: 자료의 모임(list, tuple, dictionary)에 대해 반복 실행
cars = ['AB', 'CD', 'EF', 'GH']
for car in cars:
    print(car)

AB
CD
EF
GH

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(50, 55):
    print(i)

In [ ]:
for c in 'Hello world':
    print(c)

H
e
l
l
o

w
o
r
l
d

In [ ]:
# while 문: 조건을 만족하는 동안 반복 실행
i = 1
while i<5:
    print(i)
    i += 1

1
2
3
4

In [ ]:
i = 1
while i<10:
    print('9x'+str(i)+'='+str(i*9))
    i = i+1

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [ ]:
stop=0
while 1: #while True:
    print('infinite loop')
    stop+=1
    if stop>3:
        break

infinite loop
infinite loop
infinite loop
infinite loop

In [ ]:
# break: 반복을 벗어날 떄
for i in range(1,11):
    if i>5:
        break
    print(i)

1
2
3
4
5

In [ ]:
# continue: 반복문 내에서 다음 iteration으로 바로 건너 뛸 때
for i in range(1,11):
    if(i%2 != 0):
       continue
    print(i)

2
4
6
8
10

In [ ]:
# enumerate: list 내 자료값의 순서값이 필요할 때
player = ['John', 'Taylor', 'Ronado', 'Messi']
player_1 = list(enumerate(player,1))  # 순서값은 1부터 시작
print(player_1)  # tuple 형태로 리턴

[(1, 'John'), (2, 'Taylor'), (3, 'Ronado'), (4, 'Messi')]

In [ ]:
for num, p in enumerate(player,1):
    print('Player number '+str(num)+ ' name:', p)

Player number 1 name: John
Player number 2 name: Taylor
Player number 3 name: Ronado
Player number 4 name: Messi

In [ ]:
# zip: list, tuple, dictionary 간 짝짓기
cars = ['Sonata', 'Toyota', 'Ford', 'Benz', 'Kia']
nations = ['Korea', 'Japan', 'America', 'Germany']
for c, n in zip(cars, nations):
    print('%s is made in %s' %(c,n))

Sonata is made in Korea
Toyota is made in Japan
Ford is made in America
Benz is made in Germany

In [ ]:
# 참고: print
N = 10
a = 2.543
b = 'car'
print('A typical example of data types is %d, %.2f, and %s.' %(N, a, b))

A typical example of data types is 10, 2.54, and car.

In [ ]:
# =============================================================================
# =========================== 5. 객체지향성 프로그램 ===========================
# =============================================================================

In [ ]:
### 5.1 함수 ###
# 가장 간단한 함수
def welcome():
    print('Welcome to Python')
welcome()

Welcome to Python

In [ ]:
# 좀 더 복잡한 경우
def p_inf(name, age, gender):
    print ('Person name: '+name)
    print('Person name:',name)
    print ('Person age: ', age)
    print ('Person gender: '+gender)
    print ('----------------------')
    
p_inf('James', 20, 'Male')
p_inf('Suzan', 19, 'Female')

Person name: James
Person name: James
Person age:  20
Person gender: Male
----------------------
Person name: Suzan
Person name: Suzan
Person age:  19
Person gender: Female
----------------------

In [ ]:
# 모수를 받아 새로운 값을 계산하여 반환하는 함수
def summ(num1, num2):
    result = num1 + num2
    return result

test = summ(20, 30)
print(test)

50

In [ ]:
def update_1(newlist):
    newlist.append([20, 25, 30])
    return

uplist = [5, 10, 15]
update_1(uplist)
print(uplist)

[5, 10, 15, [20, 25, 30]]

In [ ]:
x=[]
for i in range(1,10):
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
samples=['The cat sat on the mat.', 'The dog sat on the desk']
token={}
for sample in samples:
    for word in sample.split():
        if word not in token:
            token[word]=len(token)+1
print(token)

{'The': 1, 'cat': 2, 'sat': 3, 'on': 4, 'the': 5, 'mat.': 6, 'dog': 7, 'desk': 8}

In [ ]:
# lambda
result = lambda n1, n2, n3: n1+n2+n3
result(1, 2, 3)

6

In [ ]:
### 5.2 클래스(class) ###
class Player:
    name = 'John'
    age = 22
    gender = 'male'
    
    def stand(self):
        print("he stands")
        
    def run(self):
        print("he runs")
    
male_1 = Player()
player_name = male_1.name
print(player_name)
male_1.run()

John
he runs

In [ ]:
# 클래스 속성(attribute)과 사례(instance) 속성
class Player:
    person_count = 0  # 클래스 속성
    
    def infor(self, name, age, gender):
        self.name = name  # 사례 속성
        self.age = age
        self.gender = gender
        
        Player.person_count +=1
        
        print('Infor for player ' + self.name + ' hasbeen stored.')
        
player1 = Player()  # 아직 속성에 값을 할당하지 않음.
player1.infor('John', 22, 'male')
print('Player count: ' + str(player1.person_count))

Infor for player John hasbeen stored.
Player count: 1

In [ ]:
player2 = Player()
player2.infor('Messi', 30, 'Messi')
print('Player count: ' + str(player2.person_count))
print('Player count: ', player2.person_count) # player1, player2 둘 다 count에 영향

Infor for player Messi hasbeen stored.
Player count: 2
Player count:  2

In [ ]:
# 클래스를 호출하면 자동으로 사례속성을 만들어내는 방법
class Food:
    def __init__(self, name, expiry_year, expiry_month):  # 생성자
        self.name = name
        self.expiry_year = expiry_year
        self.expiry_month = expiry_month
        
        print("initialized instance varibles.")
        
    def expiry_date(self):
        print('The expiration data is ' + str(self.expiry_month) + \
              '/' + str(self.expiry_year))

food_1 = Food('Pizza', 2018, 12)  # 클래스를 호출하는 동시에 속성에 값이 할당됨
food_1.expiry_date()

initialized instance varibles.
The expiration data is 12/2018

In [ ]:
food_2 = Food('Bread', 2019, 20)
food_2.expiry_date()

initialized instance varibles.
The expiration data is 20/2019

In [ ]:
# 클래스 내에서 속성 제어 (property, setter)
class Food:
    def __init__(self, name, expiry_year, expiry_month):
        self.name = name
        self.expiry_year = expiry_year
        self.expiry_month = expiry_month  #  self.__expiry_month = expiry_month로 하면 20이 출력되는 이유는?

        print("initialized instance varibles.")

    @property
    def expiry_month(self):
        return self.__expiry_month

    @expiry_month.setter
    def expiry_month(self, expiry_month):
        if expiry_month<1:
            self.__expiry_month = 1
        elif expiry_month>12:
            self.__expiry_month = 12
        else:
            self.__expiry_month = expiry_month

    def expiry_date(self):
        print('The expiration data is ' + str(self.expiry_month) + \
              '/' + str(self.expiry_year))
        
food_2 = Food('Bread', 2019, 20)
food_2.expiry_date()

initialized instance varibles.
The expiration data is 12/2019

In [ ]:
print(food_2.name)
print(food_2.expiry_month)

NameError: name 'food_2' is not defined

In [ ]:
def summ(start,last,step=1):
    sum=0
    for i in range(start,last,step):
        sum+=i
    return sum
print(summ(1,11,2))
print(summ(1,101))

25
5050

In [ ]:
# ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★